<form class="text-center border border-light p-5 mt-2" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <h4 class="mb-2">REAL TIME TODO LIST</h4>
    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
   <div class="form-group">
   <label for="email">Email address</label>
    <input class="form-control" name="email" ngModel type="email"
    placeholder="E-Mail" #emailInput="ngModel"
    required email [ngClass]=" (emailInput.invalid && emailInput.touched) ? 'is-invalid': (emailInput.valid && emailInput.touched)? 'is-valid': '' ">
     <!-- <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;"
     >Please enter a valid Email Id</span> -->
     <div class="invalid-feedback">
       Please enter a valid Email Id
     </div>
   </div>
    <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password"
     ngModel placeholder="Password" #passwordInput="ngModel"
     required   [ngClass]=" (passwordInput.invalid && passwordInput.touched) ? 'is-invalid': (passwordInput.valid && passwordInput.touched)? 'is-valid': '' ">
    <!-- <span class="help-block" *ngIf="passwordInput.touched && passwordInput.invalid" style="color:red;"
     >Please enter a valid Password</span>-->
     <div class="invalid-feedback">
        Your password is a combination of uppercase,lowercase and numbers
     </div>
    </div>

    <div class="d-flex justify-content-around">
        <!-- <div>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div> -->
        <div>
            <!-- Forgot password -->
            <a routerLink='/reset' routerLinkActive="active">Forgot password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" [disabled]="!loginForm.valid" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
        <a routerLink='/signup' routerLinkActive="active">Register</a>
    </p>

    <!-- Social login -->

</form>
