<div class="d-flex justify-content-center mt-2" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Card -->
<div class="card m-2" *ngIf="!loading">
  <!-- Cd image --
  <!-- Card content -->
  <div class="card-body">
   <!-- Title -->
  <h5 class="card-title">REAL TIME TO DO LIST</h5>
  <!-- <button type="button" mdbBtn color="secondary" style="float:rigt;display:inline-block;" mdbWavesEffect>CREATE A NEW LIST</button> -->
    <!-- Text -->
    <button type="button"  (click)="frame.show()"  mdbBtn gradient="blue" rounded="true" mdbWavesEffect >CREATE A NEW TODO LIST</button>

    <button  mdbBtn gradient="peach" mdbWavesEffect routerLink='/deleted'>DELETED TODO LIST</button>
    <button  mdbBtn type="button" gradient="purple" mdbWavesEffect routerLink='/completed'>COMPLETED TODO LIST</button>

  </div>

</div>
<p *ngIf="allActivity.length<1 && !loading" style="text-align:center;">
 YOU DON'T HAVE ANY ACTIVIE TODO LIST CLICK ON <b>CREATE A NEW TODO LIST</b> BUTTON TO CREATE ONE
</p>

<div class="container" *ngIf="allActivity.length>0 && !loading">
<div class="row mt-2">
  <div class="col-md-12 sm-12 mt-2" *ngFor="let list of allActivity;let i=index">
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title style="text-align:center;">
          <h4 style="margin:0;display:inline-block;" class="mt-1 mb-1">TODO LIST {{i+1}} : {{list.activityName}}</h4>
          <button mdbBtn gradient="blue" rounded="true" type="button" mdbWavesEffect (click)="test.toggle()" >
            CLICK TO SEE DETAILS
          </button>
        </mdb-card-title>

        <div class="" mdbCollapse #test="bs-collapse">
          <h4><b style="color:black;">DESCRIPTION :</b> {{list.description}}</h4>
          <h5 *ngIf="list.mainlist.length > 0">ITEMS IN THE TODO LIST</h5>
          <ul class="list-group">
           <p *ngIf="list.mainlist.length < 1" class="text-info">THERE'S NO ITEMS IN THE TODO LIST CLICK <b>ADD A NEW LIST ITEM</b> BUTTON TO CREATE ONE</p>
           <li class="list-group-item list-group-item-success"
           *ngFor="let mainList of list.mainlist;let j=index"
           [ngClass]="mainList.active ? 'list-group-item-success':'list-group-item-danger'">
            <h5 style="margin:0;display:inline-block;" *ngIf="mainList.active">{{j+1}}) {{mainList.listName}}</h5>
            <h5 style="margin:0;display:inline-block;" *ngIf="!mainList.active"><s>{{j+1}}) {{mainList.listName}}</s></h5>
            <button class="btn btn-primary" type="button" *ngIf="mainList.active" (click)="test1.toggle()">
              SUB ITEMS
            </button>
            <button class="btn btn-primary" *ngIf="mainList.active" (click)="subItemFram.show();onAddSubItem(list._id,mainList._id)" type="button">
              ADD SUB ITEM
            </button>
            <button type="button" class="btn btn-secondary" *ngIf="mainList.active" (click)="onListDone(list._id,mainList._id)" name="button">MARK DONE</button>
            <button type="button" class="btn btn-secondary" *ngIf="!mainList.active" (click)="onListOpen(list._id,mainList._id)" name="button">OPEN</button>
            <span *ngIf="!mainList.active">ITEM DONE</span>
            <div class="" mdbCollapse #test1="bs-collapse">
              <ul class="list-group">
              <li *ngIf="mainList.subItems.length < 1">No Sub Items Click on ADD SUB ITEMS to add one</li>
              <li class="list-group-item list-group-item" *ngFor="let subItems of mainList.subItems">
              <h5 *ngIf="subItems.active">{{subItems.subItemName}} <span class="dot"></span></h5>
                <h5 *ngIf="!subItems.active"><s>{{subItems.subItemName}}</s></h5>
                <button type="button" class="btn btn-secondary" name="button"
              *ngIf="subItems.active" (click)="onDoneSubItem(list._id,mainList._id,subItems._id)">DONE</button>
                <button type="button" *ngIf="!subItems.active" class="btn btn-secondary" name="button"
                (click)="onOpenSubItem(list._id,mainList._id,subItems._id)">OPEN</button>
                  <span *ngIf="!subItems.active">ITEM DONE</span>
              </li>
              </ul>
            </div>
          </li>
          </ul>

          <a  mdbBtn color="primary" mdbWavesEffect (click)="newItemFrame.show();activiyId(list._id)">ADD A NEW LIST ITEM</a>
          <p>last modified By {{list.modifiedBy}}</p>
          <a  mdbBtn color="success" mdbWavesEffect (click)="onCompleteActivity(list._id)">MARK THIS TODO LIST AS COMPLETED</a>
          <button type="button" name="button" class="btn btn-danger" (click)="onUndo(list._id)">UNDO THE LAST MODIFIED ITEM</button>
          <button type="button" name="button" class="btn btn-info" (click)="onEdit(list._id)">EDIT / DELETE</button>

        </div>

      </mdb-card-body>
    </mdb-card>
  </div>
</div>


</div>



<!-- New Activity -->

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 h-60 font-weight-bold">NEW TODO LIST</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      <form class="text-center border border-light p-5"  (submit)="onSubmit(todoform)" #todoform="ngForm">
      <p class="h4 mb-4">CREATE NEW LIST</p>
    <!-- Email -->
    <div class="md-form">
    <input type="text" id="defaultLoginFormEmail" name="activity"
    class="form-control mb-4" placeholder="Activity name" ngModel
    #ActivityName="ngModel" required>
    </div>

    <div class="md-form">
    <textarea type="text" id="form7" name="description" class="md-textarea md-textarea-auto form-control"
      ngModel #description="ngModel"
    mdbInput required></textarea>
    <label for="form7">Activity Description</label>
    </div>
    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit"  [disabled]="!todoform.valid" (click)="frame.hide()">SAVE</button>
   </form>

    </div>
  </div>
</div>

</div>


<!-- Add sub items -->

<div mdbModal #subItemFram="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 h-60 font-weight-bold">NEW SUB ITEM</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="subItemFram.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      <form class="text-center border border-light p-5"  (submit)="onSubItem(todoformSubItem)" #todoformSubItem="ngForm">
      <p class="h4 mb-4">ADD SUBITEMS</p>

    <div class="form-group">
      <div class="md-form">
      <input type="text" id="defaultLoginFormEmail" name="activity"
      class="form-control mb-4" placeholder="Sub Item Name" ngModel
      #ActivityName="ngModel" required>
      </div>
    </div>
    <button class="btn btn-info btn-block my-4" [disabled]="!todoformSubItem.valid" type="submit" (click)="subItemFram.hide()">SAVE</button>
   </form>

    </div>
  </div>
</div>

</div>


<!-- Add an list in the  Activity  -->

<div mdbModal #newItemFrame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 h-60 font-weight-bold">NEW ITEM</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="newItemFrame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      <form class="text-center border border-light p-5"  (submit)="onNewListItem(todoMainItemList)" #todoMainItemList="ngForm">
      <p class="h4 mb-4">ADD A NEW ITEM TO THE LIST</p>

    <div class="form-group">
      <div class="md-form">
      <input type="text" id="defaultLoginFormEmail" name="Subactivity"
      class="form-control mb-4" placeholder="List item name" ngModel
      #listName="ngModel" required>
      </div>
    </div>
    <button class="btn btn-info btn-block my-4" [disabled]="!todoMainItemList.valid" type="submit" (click)="newItemFrame.hide()">SAVE</button>
   </form>

    </div>
  </div>
</div>

</div>


<ng-template #callAPIDialog>
  <mdb-card>
    <mdb-card-body>
      <mdb-card-title>
        <h4>Select the TODO Activity to Undo the last Modified Item</h4>
      </mdb-card-title>
       <p *ngIf="allActivity.length < 1">You Don't have any active todo list
       <button class="btn btn-info btn-block my-4"  type="button" (click)="onCancelUndo()">CANCEL</button></p>
      <form *ngIf="allActivity.length > 0" class="text-center border border-light p-5"  (submit)="onUndoActivity(UndoActivity)" #UndoActivity="ngForm">
      <div class="form-group">
      <div class="md-form">
        <p>Select the TODO Activity to Undo the last Action</p>
        <select class="form-control" ngModel #undoActivity="ngModel" name="undo" required
        [ngClass]=" (undoActivity.invalid && undoActivity.touched) ? 'is-invalid': (undoActivity.valid && undoActivity.touched)? 'is-valid': '' ">
            <option *ngFor="let act of allActivity" [value]="act._id" >{{act.activityName}}</option>
        </select>
      </div>
    </div>
    <button  class="btn btn-info btn-block my-4" [disabled]="!undoActivity.valid" type="submit">SELECT</button>
    <button class="btn btn-info btn-block my-4"  type="button" (click)="onCancelUndo()">CANCEL</button>
   </form>
    </mdb-card-body>
  </mdb-card>
 </ng-template>
