<!-- Card -->
<mdb-card class="mt-2">
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
    <h1 style="text-align:center;"><strong>WELCOME TO REAL TIME TODO LIST</strong></h1>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      Plan your day to day activities and keep a track of all completed as well deleted
      activities.Search your friends and give request.Once they accepted your friend request, see what are the
      activities they have planned and modify their activities as well.
    </mdb-card-text>

    <a routerLink='/todo' mdbBtn color="primary" mdbWavesEffect>CLICK HERE TO ORGANISE YOUR TODO LIST</a>
  </mdb-card-body>
</mdb-card>
<!-- Card -->
