<!-- Extended default form grid -->
<div class="d-flex justify-content-center mt-2" *ngIf="isLoading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<form class="text-center border border-light p-3 mt-2" (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
  <!-- Grid row -->
  <h4 class="mb-2">REAL TIME TODO LIST</h4>
  <p class="h4 mb-4">Sign up</p>

  <div class="form-row">
    <!-- Default input -->
    <div class="form-group col-md-6">
      <label for="name">FIRST NAME</label>
        <input class="form-control" name="FirstName" ngModel type="text" placeholder="Enter First Name"
        #FirstName="ngModel" required [ngClass]=" (FirstName.invalid && FirstName.touched) ? 'is-invalid': (FirstName.valid && FirstName.touched)? 'is-valid': '' ">
        <!-- <span class="help-block" *ngIf="FirstName.invalid && FirstName.touched" style="color:red;"
         >Please enter a valid first name</span> -->
         <div class="invalid-feedback">
           Please provide a valid First Name
         </div>
    </div>

    <div class="form-group col-md-6">
      <label for="name">LAST NAME</label>
      <input class="form-control" name="LastName"
      ngModel type="text" placeholder="Enter Last Name" #LastName="ngModel"
      required [ngClass]=" (LastName.invalid && LastName.touched) ? 'is-invalid': (LastName.valid && LastName.touched)? 'is-valid': '' ">
      <!-- <span class="invalid-feedback" *ngIf="LastName.invalid && LastName.touched" style="color:red;"
       >Please enter a valid last name</span> -->
       <div class="invalid-feedback">
         Please provide a valid Last Name.
       </div>
    </div>

  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input class="form-control" [ngClass]=" (emailInput.invalid && emailInput.touched) ? 'is-invalid': (emailInput.valid && emailInput.touched)? 'is-valid': '' " name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
    <small class="form-text text-muted">Your email will not ever be shared</small>
    <!-- <span class="help-block" *ngIf="emailInput.invalid && emailInput.touched" style="color:red;"
     >Please enter a valid Email Id</span> -->
      <div class="invalid-feedback">
        Please provide a valid email.
      </div>
  </div>
  <!-- Grid row -->

  <!-- Default input -->
  <div class="form-group">
    <label for="password">Password</label>
    <input pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"
    name="password" ngModel class="form-control"
    placeholder="Password" #passwordInput="ngModel" required
    [ngClass]=" (passwordInput.invalid && passwordInput.touched) ? 'is-invalid': (passwordInput.valid && passwordInput.touched)? 'is-valid': '' ">
    <!-- <span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched" style="color:red;"
     >Your password must be a combination of uppercase,lowercase and numbers</span> -->
     <div class="invalid-feedback">
       Your password must be a combination of uppercase,lowercase and numbers
     </div>
  </div>
  <!-- Default input -->

  <!-- Grid row -->
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="gender">SELECT THE COUNTRY</label>
      <select class="form-control" ngModel #country="ngModel" name="country" required
      [ngClass]=" (country.invalid && country.touched) ? 'is-invalid': (country.valid && country.touched)? 'is-valid': '' ">
          <option *ngFor="let country of countries" [value]="country" >{{country}}</option>
      </select>
      <!-- <span class="help-block" *ngIf="country.invalid && country.touched" style="color:red;"
       >Please select the country</span> -->
       <div class="invalid-feedback">
        Please select the country
       </div>
    </div>

    <div class="form-group col-md-6">
        <label for="gender">SELECT THE MODILE CODE</label>
        <select class="form-control" ngModel #phCode="ngModel" name="phoneCode" required
          [ngClass]=" (phCode.invalid && phCode.touched) ? 'is-invalid': (phCode.valid && phCode.touched)? 'is-valid': '' ">
          <option *ngFor="let obj of phoneCode" [value]="obj.num">{{obj.code}} - {{obj.num}}</option>
        </select>
        <!-- <span class="help-block" *ngIf="phCode.invalid && phCode.touched" style="color:red;"
         >Please select the mobile code</span> -->
         <div class="invalid-feedback">
        Please select the mobile code
         </div>
    </div>


  </div>
  <div class="form-group">
      <label for="name">YOUR MOBILE NUMBER</label>
      <input type="number"
      ng-model="number" onKeyPress="if(this.value.length>9) return false;" min="0"
      name="phoneNumber" ngModel class="form-control" placeholder="PhoneNumber" #phoneInput="ngModel"
         required   [ngClass]=" (phoneInput.invalid && phoneInput.touched) ? 'is-invalid': (phoneInput.valid && phoneInput.touched)? 'is-valid': '' ">
         <!-- <span class="help-block" *ngIf="phoneInput.invalid && phoneInput.touched" style="color:red;"
          >Please enter a valid mobile number</span> -->
          <div class="invalid-feedback">
         Please enter a valid mobile number
          </div>
  </div>

  <!-- Grid row -->
    <button  class="btn btn-primary btn-md" [disabled]="!signupForm.valid" type="submit">Signup</button>
    <button  class="btn btn-primary btn-md ml-2" type="button" (click)="onAlreadyMember()">Already a member ?</button>
</form>
<!-- Extended default form grid -->
