<div class="d-flex justify-content-center mt-2" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Card -->
<div class="card m-2" *ngIf="!loading">
  <!-- Cd image --
  <!-- Card content -->
  <div class="card-body">
   <!-- Title -->
  <!-- <button type="button" mdbBtn color="secondary" style="float:rigt;display:inline-block;" mdbWavesEffect>CREATE A NEW LIST</button> -->
    <!-- Text -->
    <button type="button" class="btn btn-primary ml-2 mr-2 mt-auto mb-1" (click)="onFriends()">FRIENDS ({{totalFriends}})</button>
        <button type="button" class="btn btn-secondary ml-2 mr-2 mt-auto mb-1" (click)="onFriendRequests()">FRIEND REQUESTS ({{totalfriendRequest}})</button>
          <button type="button" class="btn btn-info ml-2 mr-2 mt-auto mb-1" (click)="onFriendRequestSent();commonLoading()">FRIEND REQUESTS SENT ({{totalfriendrequestsent}})</button>
                <button type="button" class="btn btn-success ml-2 mr-2 mt-auto mb-1" (click)="searchFriends.show()">SEARCH FRIENDS</button>

  </div>

</div>

<p *ngIf="!friends && !friendRequest && !search && !friendRequestSent" style="text-align:center;">
  CLICK ON THE RESPECTIVE BUTTON TO VIEW YOUR FRIENDS ,FRIENDREQUEST RECEIVED , FRIENDREQUEST SENT
</p>

<div class="container" *ngIf="friends && !loading">
<div class="row mt-2">
    <p *ngIf="friendsList.length < 1" style="text-align:center;color:red;">YOU DON'T HAVE ANY FRIEND'S</p>
<div class="col-md-4 sm-4 mt-2" *ngFor="let list of friendsList;let i=index">
<mdb-card>
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>NAME: {{list.Name}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      <p>
        EMAIL ID : {{list.email}}
      </p>
    </mdb-card-text>

    <a  mdbBtn color="info" mdbWavesEffect (click)="onTodoList(list.userID)">TODO LIST</a>
    <a  mdbBtn color="danger" mdbWavesEffect (click)="onUnfriend(list.userID,list._id);commonLoading()">UNFRIEND</a>
  </mdb-card-body>
</mdb-card>


</div>
  </div>
</div>

<div class="container" *ngIf="friendRequest && !loading">
<div class="row mt-2">
  <p *ngIf="friendRequestReceived.length < 1" style="text-align:center;color:red;">YOU DON'T HAVE ANY FRIEND REQUEST</p>
  <div class="col-md-4 sm-4 mt-2" *ngFor="let list of friendRequestReceived;let i=index">
  <mdb-card>
    <!--Card image-->
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4>{{list.Name}}</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> {{list.email}}
      </mdb-card-text>

      <a mdbBtn color="success" mdbWavesEffect (click)="onAccept(list.userID,list.Name,list.email,list._id);commonLoading()">ACCEPT</a>
      <a mdbBtn color="danger" mdbWavesEffect (click)="onRejectFriendReqest(list.userID,list._id);commonLoading()">REJECT</a>
    </mdb-card-body>
  </mdb-card>


  </div>
  </div>
</div>

<div class="container" *ngIf="search && !loading">
<div class="row mt-2">
<p *ngIf="allUsersListDetails.length < 1" style="text-align:center;color:red;">SEARCH RESULT : 0</p>
<div class="col-md-4 sm-4 mt-2" *ngFor="let list of allUsersListDetails;let i=index">
<mdb-card>
  <!--Card image-->
  <!--Card content-->
  <mdb-card-body>

    <!--Title-->
    <mdb-card-title>
      <h4>NAME: {{list.name}}</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
      <p>
        EMAIL ID : {{list.email}}
      </p>
    </mdb-card-text>

    <a mdbBtn color="success" mdbWavesEffect (click)="onSendRequest(list._id,list.name,list.email);commonLoading()">SEND REQUEST</a>
  </mdb-card-body>
</mdb-card>


</div>
  </div>
</div>


<div class="container" *ngIf="friendRequestSent && !loading">
<div class="row mt-2">
  <p *ngIf="friendRequestSentUsers.length < 1" style="text-align:center;color:red;">YOU DIDN'T SEND ANY FRIEND REQUEST</p>
  <div class="col-md-4 sm-4 mt-2" *ngFor="let list of friendRequestSentUsers;let i=index">
  <mdb-card>
    <!--Card image-->
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4>{{list.Name}}</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> {{list.email}}
      </mdb-card-text>

      <a mdbBtn color="danger" mdbWavesEffect (click)="onCancelFriendRequest(list.userID,list._id);commonLoading()">CANCEL REQUEST</a>
    </mdb-card-body>
  </mdb-card>


  </div>
  </div>
</div>


<div mdbModal #searchFriends="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 h-60 font-weight-bold">SEARCH FRIENDS</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="searchFriends.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
      <form class="text-center border border-light p-5"  (submit)="onSearchFriend(searchFriend)" #searchFriend="ngForm">
      <p class="h4 mb-4">ENTER YOUR FRIEND NAME</p>
     <div class="form-group">
      <div class="md-form">
      <input type="text" id="defaultLoginFormEmail" name="friend"
      class="form-control mb-4" placeholder="Friend Name" ngModel
      #friendName="ngModel" required>
      </div>
    </div>
    <button class="btn btn-info btn-block my-4" [disabled]="!searchFriend.valid" type="submit" (click)="searchFriends.hide()">SAVE</button>
   </form>

    </div>
  </div>
</div>

</div>
